
.topFixedBanner{
    background-image: url('../images/banner.jpg');
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.topContent{
    margin-top: 10rem;
}

.topTitle{
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.topSubTitle{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.serviceMainTitle{
    color: #0073E6;
    font-size: 28px;
    font-family: 'Montserreat',sans-serif;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.serviceName{

    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.serviceDescription{
    color: #7F7E7E;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.serviceCard{
    margin: 5px 5px 5px 5px;
    height: auto;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}


.serviceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}

.navTitle{
    font-family: 'Montserreat',sans-serif;
    color: white !important;
    font-weight: 700;
    font-size: 24px;
}


.navTitleScroll{
    font-family: 'Montserreat',sans-serif;
    color: #0073E6 !important;
    font-weight: 700;
    font-size: 24px;
}




.navBackground{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    background-color: rgba(00,00,00,0.0) !important;
}
.navBackgroundScroll{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    background-color: #ffffff !important;
}

.navItem{
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'Montserreat',sans-serif;
    font-weight: 400;
    color: #ffffff !important;
}
.navItemScroll{
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'Montserreat',sans-serif;
    font-weight: 400;
    color: #000000 !important;
}

.des{
    font-weight: 400;
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
}




.summaryFixedBanner{
    background-image: url('../images/banner.jpg');
    min-height: 400px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.summaryBannerOverlay{
    position: absolute;
    min-height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.totalProjectTitle{
    font-family: 'Montserreat',sans-serif;
    color: white !important;
    font-weight: 700;
    font-size: 40px;
}

.totalProjectSubtitle{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.summaryIconColor{
    color: #0073E6 !important;
    font-size: 15px;
}


.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    margin-top: 50px;
}

.projectCard:hover{
    box-shadow: 0 0 12px 0 rgba(0,115,230,0.2);
}

.projectCardTitle{
    font-family: 'Montserreat',sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;

}

.projectCardDescription{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.courseTitle{
    font-family: 'Montserreat',sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.courseDescription{
    font-weight: 400;
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
}


.vedioDescription{
    font-weight: 400;
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    padding: 20px 70px 20px 70px;
}

.vedioFontAwasam{
    font-size: 50px;
    color: #0073E6 !important;
}


.clientImage{
    
    margin: 0 auto;
    width: 100px;
    height: 100px;
    /* border: 1px solid #0073E6; */
    border-radius: 50%;
    
}

.footerCard{
    /* border-radius: 2px; */
    border: 2px !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
    margin-top: 50px;
}

.socialLink{
    text-decoration: none !important;
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
}

.socialLink:hover{
    text-decoration: none !important;
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 10px;
    color: #000000;
}

.copyrightFooter{
    text-align: center;
    padding: 15px 0px 10px 0px;
    margin-top: 20px;
    /* color: #0073E6; */
    background-color: #0073E6;
}

.copyrightFooterTitle{
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: wheat;
}